.nav {
  background-color: #333333;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 900px;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  color: whitesmoke;
}

li a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  color: rgb(206, 206, 206);
  text-align: center;
}
li {
  display: inline-block;
  vertical-align: middle;
  justify-content: flex-end;
}
.nav-title {
  color: rgb(255, 255, 255);
  margin: 10px 10px;
  font-size: 30px;
  margin: 15px 15px 15px 20px;
}

.btn {
  background-color: #12a3b8;
  color: whitesmoke;
  margin: 5px 15px;
  border-radius: 2px;
  box-shadow: 2px 2px black;
  border: 2px solid black;
  padding: 5px;
  width: 80px;
}
.active {
  color: whitesmoke;
}
